[run]
branch = True
source = nornir_netconf

[report]
show_missing = true

exclude_lines =
    if self.debug:
    self.connection.close_session()
    parameters["ssh_config"] = ssh_config_file
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
